.otsikko {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(40, 40, 40, 0.3);
  color: antiquewhite;
}

.paa {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
}

.pieni {
  text-decoration: underline;
  font-weight: 400;
  font-size: 32px;
}

p {
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.listaotsikko {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

li {
  background-color: aqua;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  text-decoration: dotted;
}